<!--style="position: relative; min-height: calc(100vh - 64px);"-->
<section>
  <!--  add-->
  <form [formGroup]="form">
    <div class="form-container">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>URL</mat-label>
        <input matInput formControlName="url">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Tecnologias</mat-label>
        <input matInput formControlName="tags">
      </mat-form-field>
      <button
        mat-fab
        color="primary"
        matTooltip="Adicionar Projeto"
        (click)="insertProject()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </form>
<br>
</section>
