<section style="position: relative; min-height: calc(100vh - 64px);">
  <p>Componente de adição até o roteamento</p>

  <p>Componente de filtro</p>

  <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
    <app-project-card [project]="project" *ngFor="let project of projects"></app-project-card>
  </div>

  <button
    mat-fab
    color="primary"
    style="position: absolute; bottom: 50px; right: 50px;"
    (click)="alert('TODO: go to get  project page')"
  >
    <mat-icon [routerLink]="['/listarCards']">add</mat-icon>
  </button>
</section>
