<mat-toolbar color="primary" style="display: grid;grid-template-columns: 1fr 1fr">
  <div class="menu">
    <button mat-button [matMenuTriggerFor]="menu">Código voluntário</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><a routerLink="">Página Inicial</a></button>
      <button mat-menu-item><a routerLink="/list-projects">Listar Projetos</a></button>
    </mat-menu>
  </div>
  <div class="login" style="display: flex;justify-content: flex-end">
    <button mat-mini-fab matTooltip="Login">
      <a routerLink="/login"><mat-icon>login</mat-icon></a>
    </button>
  </div>
</mat-toolbar>
<br>
<router-outlet></router-outlet>

